@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

@font-face {
  font-family: "VT323";
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Tobias-Italic";
  src: url("../../../public/fonts/Tobias-RegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Favorit Pro";
  src: url("../../../public/fonts/favoritpro-regular-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Favorit Pro";
  src: url("../../../public/fonts/favoritpro-bold-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "LoRes9PlusOT";
  src: url("../../../public/fonts/Emigre_-_LoRes9PlusOT-WideRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TerminalGrotesque";
  src: url("../../../public/fonts/terminal-grotesque-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #000000;
  color: #f2efef;
  font-family: "Favorit Pro";
}

.tobias-italic {
  font-family: "Tobias-Italic";
}

::-webkit-scrollbar {
  display: none;
}

.custom-checkbox:focus ~ .custom-checkbox-placeholder {
  border: 2px solid #5f6fff;
}

.custom-checkbox:checked ~ .custom-checkbox-placeholder {
  background-color: white;
}

.custom-select-wrapper select {
  -webkit-appearance: none;
  appearance: none;
}

.custom-select-wrapper {
  position: relative;
}

.custom-select-wrapper::after {
  content: "▾";
  font-size: 0.75rem;
  top: 12px;
  right: 10px;
  position: absolute;
}

.markdown-prose > h1 {
  @apply text-2xl font-bold;
}

.markdown-prose > h2 {
  @apply text-xl font-bold;
}

.markdown-prose > h3 {
  @apply text-base;
}

.markdown-prose > ul {
  @apply list-disc pl-6;
}

.markdown-prose > blockquote {
  @apply pl-2 border-l-2 border-light-concrete;
  font-family: "Tobias-Italic";
}

.markdown-prose > code {
  @apply p-1 bg-wet-concrete rounded;
}

.markdown-prose > a {
  @apply text-magic-mint;
}

.markdown-prose > p,
.markdown-prose > ul,
.markdown-prose > h1,
.markdown-prose > h2,
.markdown-prose > h3,
.markdown-prose > hr {
  @apply mb-3;
}

.markdown-prose h1:not(:first-child),
.markdown-prose h2:not(:first-child) {
  @apply mt-6;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
